/*universal*/
*{
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

/*external ways to use css*/
#external-p {
	color: #F4F806;
}

h1 {
	font-size: 3rem;
}

/*CSS selector*/
/*id*/
#uppercase-h2{
	text-transform: uppercase;
}

/*class*/
.language-learn{
	background-color: #73FB72;
}

.tools-used{
	border: 2px solid #1334F9;

}

/*Adjacent*/
img + ul {
	list-style-type: none;
}

/*descendant*/
section img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}


/*general*/
h4 ~ p{
	text-align: center;
}

/*child selector*/
section > ul{
	letter-spacing: 10px;
}